header{
    background-color: blueviolet;
    text-align: center;
}

.main-area{
    padding: 20px 2%;
    background-color:rgb(187, 186, 186);
}

.tab{
    display: flex;
}

.tab-menu{
    width: calc(100%/3);
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.tab-menu.is-active{
    background-color: aqua;
}

.content-box{
    display: none;
    background-color: white;
    height: 500px;
}

.content-box.is-active{
    display: block;
}

#timer{
    font-size: 36px;
    text-align: center;
    border:1px solid gray;
    padding: 50px;
    background-color: black;
    color: darkgoldenrod;
    font-family: 'DotGothic16', sans-serif;
}

#button{
    text-align: center;
}

.button{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    width: 30%;
    height: 50px;
    margin-top:20px;
    cursor: pointer;
}

.btn-start{
    color: white;
    background-color: rgb(73, 73, 223);
    border-radius: 5px;
}

.btn-stop{
    color:white;
    background-color: red;
    border-radius: 5px;
}

.btn-reset{
    color: white;
    background-color: rgb(150, 148, 148);
    border-radius: 5px;
}

#lap-time{
    height: 260px;
    text-align: center;
    overflow: scroll;
}

li{
    border-bottom: solid 2px gray;
    font-size: 2em;
}

.copy-right{
    text-align: center;
}